body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,dl,dt,dd,p,span,a,i,em,b,strong,big,small,img,input,label,form,textarea,select,option{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, SimSun;
    color: #333;
}
img,input{
    border: none;
    outline: none;
    /*点击后 input出现的边框*/
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.clear{
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.w1104{
    margin: 0 auto;
    width: 1104px;
}
.top20{
    padding-top: 20px;
}
.top40{
    padding-top: 40px;
}
body{
    background-color: #f5f5f5;
}
/**/
.header{
    width: 100%;
    min-width: 1104px;
    height: 60px;
    background: linear-gradient(to bottom,#fa8622 0,#f57614 100%);
    /*
    ie9以上浏览器支持
    linear-gradient 线性渐变
    to bottom 渐变的方向
    #fa8622（色值） 0 开始的位置（盒子的最上方）
    #f57614（色值） 100%结束的位置 百分数越大 渐变过渡越均匀
    */
}
.header h1{
    float: left;
    width: 207px;
    height: 60px;
}
.header h1 a{
    display: block;
    width: 207px;
    height: 60px;
    background: url("../images/default.png") no-repeat;
}
.header h1 a:hover{
    background-position: 0 -60px;
}
.header .nav{
    float: left;
}
.header .nav li{
    float: left;
    width: 90px;
    line-height: 60px;
    text-align: center;
}
.header .nav li a{
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    /*box-shadow: 0 0 0 rgba(0,0,0,0.5); 盒子的阴影*/
    /*ie9以上*/
    /*0 投影左右的位移 1px 上下的位移 1px投影的模糊度*/
}
.header .nav .index{
    background: linear-gradient(to bottom,#db6600 0,#f57614 100%);
}
.header .navList{
    float: left;
    margin: 15px 0 0 20px;
    border: 1px solid #db6b16;
    border-radius: 3px;
    width: 243px;
    height: 28px;
}
.header .navList li{
    float: left;
    border-right: 1px solid #db6b16;
    width: 60px;
    height: 28px;
    line-height: 28px;
    /*本身就是在28px 中垂直居中 一般父级盒子有border 的时候 子级盒子只给行高 不给高度的情况下 子级盒子会从腹肌盒子的border内开始进行运算 去添加1px的高度 这个时候 我们只需要将子级盒子的高度规定完整就可以了*/
    background: linear-gradient(to bottom,#fa8b1d 0,#fa8114 100%);
    text-align: center;
}
.header .navList li a{
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.header .navList .last{
    border-right: none;
}
.header .navList li a:hover{
    line-height: 29px;
    display: block;
    background: linear-gradient(to bottom, #d65c15 0, #e06716 100%);
}
.header .src{
    position: relative;
    float: left;
    margin: 15px 0 0 20px;
    border: 1px solid #db6816;
    border-radius: 3px;
    width: 228px;
    height: 28px;
    line-height: 28px;
    background: #ffffff;
    /*css属性 尽量小写*/
}
.header .src input[type=button]{
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    width: 24px;
    height: 24px;
    background: url("../images/header_icon.png") no-repeat;
    background-position: 0 -48px;
}
.header .src input[type=text]{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 28px;
    width: 200px;
    height: 28px;
}
.navLast{
    float: left;
    padding: 15px 0 0 15px;
}
.navLast .zc{
    display: block;
    float: left;
    margin-right: 7px;
    border: 1px solid #b25415;
    border-radius: 3px;
    width: 56px;
    height: 28px;
    line-height: 28px;
    background: linear-gradient(to bottom, #cc691d 0, #c25f13 100%);
    font-size: 12px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.header .navLast a:hover{
    background: linear-gradient(to bottom, #c25f13 0, #b85509 100%);
}
.header .navLast .login{
    float: right;
    border: 1px solid #b25415;
    border-radius: 3px;
    width: 114px;
    height: 28px;
    line-height: 28px;
    background: linear-gradient(to bottom, #cc691d 0, #c25f13 100%);
}
.header .navLast .login a{
    float: left;
    border-right: 1px solid #b25415;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-size: 12px;
}
.header .navLast .login .dl{
    width: 60px;
    text-align: center;
}
.header .navLast .login .web b,.header .navLast .login .qq b{
    display: block;
    width: 26px;
    height: 28px;
    background: url("../images/header_thirdparty_icon.png") no-repeat;
}
.header .navLast .login .web b{
    background-position: -23px 3px;
}
.header .navLast .login .qq{
    border-right: none;
}
.header .navLast .login .qq b{
    background-position: 0px 3px;
}

/**/
.NavT{
    border-bottom: 1px solid #cccccc;
    width: 100%;
    min-width: 1104px;
    height: 30px;
    line-height: 30px;
    background-color: #f0f0f0;
}
.NavT .navL{
    float: left;
    padding-left: 100px;
}
.NavT .navL a{
    padding-right: 30px;
    font-size: 14px;
}
.NavT .navL .on{
    color: #f60;
}
.NavT .navR{
    float: right;
}
.NavT .navR a{
    display: block;
    float: left;
    padding-left: 25px;
    font-size: 12px;
    font-weight: 600;
}
.NavT .navR a b{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/header_icon.png") no-repeat;
    vertical-align: middle;
}
.NavT .navR .vip b{
    background-position: -72px -48px;
}
.NavT .navR .pal b{
    background-position: -25px -48px;
}
.NavT .navR .down b{
    background-position: -48px -48px;
}
.NavT .navR a:hover{
    color: #f60;
}
.NavT .navR .vip:hover b{
    background-position: -72px -72px;
}
.NavT .navR .pal:hover b{
    background-position: -25px -72px;
}
.NavT .navR .down:hover b{
    background-position: -48px -72px;
}
/**/
.content{
    padding-top: 19px;
}
.conL{
    float: left;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 15px;
    width: 740px;
    background-color: #ffffff;
}
.conL .banner{
    position: relative;
    width: 740px;
    height: 170px;
}
.conL .banner ul li{
    display: none;
}
.conL .banner ul .on{
    display: block;
}
.conL .banner ol{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 18px;
    padding: 5px 0 5px 5px;
    width: 65px;
    height: 8px;
    background-color: rgba(0,0,0,.3);
}
.conL .banner ol li{
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    cursor: pointer;
}
.conL .banner ol .on{
    background-color: #f60;
}
.conL .conTitle{
    height: 35px;
}
.conL .conTitle h4{
    float: left;
    font-size: 18px;
    font-weight: 500;
}
.conL .conTitle h4 span,.conL .conTitle h4 a{
    font-size: 12px;
    color: #f60;
    vertical-align: 3px;
}
.conL .conTitle h4 a:hover{
    text-decoration: underline;
}
.conL .conTitle ul{
    float: right;
}
.conL .conTitle ul li{
    position: relative;
    float: left;
    padding: 0 11px;
    font-size: 12px;
}
.conL .conTitle ul li:after{
    position: absolute;
    top: 3px;
    right: 1px;
    /*伪类 可以看做是一个行内元素 需要进行定位 浮动 之类的操作 才能设置宽度和高度等css属性*/
    content: "";
    /*伪类实在html文件中不存在的部分 要想让伪类在html文件中有具体的位置 就要给这个伪类一个内容*/
    width: 1px;
    height: 11px;
    background-color: #000;
}
.conL .conTitle ul .last:after{
    width: 0;
}
.conL .conTitle ul li a:hover,.conL .conTitle ul .on a{
    border-bottom: 3px solid #3A3935;
}
.conL .like{
    height: 252px;
}
.conL .like .likeL{
    float: left;
    width: 140px;
}
.conL .like .likeL dl{
    position: relative;
    padding: 3px;
    background-color: #3a3935;
}
.conL .like .likeL dl dt img{
    float: left;
    width: 67px;
    height: 67px;
}
.conL .like .likeL dl dt a{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 48px;
    height: 48px;
    background: url("../images/play_icon.png") no-repeat;
}
.conL .like .likeL dl dt a:hover{
    background-position: -48px 0;
}
.conL .like .likeL dl dd{
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    color: #999;
}
.conL .like .likeL .playText{
    display: block;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    text-align: center;
 }
.likeR{
    float: left;
    position: relative;
}
.likeR .likeList{
    float: left;
    margin-left: 10px;
    width: 140px;
}
.likeR .likeList dl{
    position: relative;
}
.likeR .likeList dl dt img{
    width: 140px;
    height: 140px;
}
.likeR .likeList dl dt .likeBg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background: rgba(0,0,0,.6);
}
.likeR .likeList dl dt:hover .likeBg{
    display: block;
}
.likeTop{
    /*margin: 5px 0 0 5px;*/
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    width: 30px;
    height: 14px;
    background: #ffffff;
}
.likeTop .xin{
    display: inline-block;
    vertical-align: 1px;
    margin-left: 2px;
    width: 14px;
    height: 14px;
    background: url("../images/icon.png") no-repeat;
    background-position: -5px -127px;
}
.likeTop ul{
    display: none;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px 0;
    width: 85px;
    background: #ffffff;

}
.likeTop:hover ul{
    display: block;
}
.likeTop ul li a{
    display: block;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.likeTop ul li a b{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/icon.png") no-repeat;
    vertical-align: middle;
}
.likeTop ul li .sc b{
     background-position: 0px -120px;
 }
.likeTop ul li .fs b{
    background-position: -24px -120px;
}
.likeTop ul li .tj b{
    background-position: -48px -120px;
}
.likeTop ul li .fx b{
    background-position: -72px -120px;
}
.likeTop ul li .sc:hover b{
    background-position: 0px -144px;
}
.likeTop ul li .fs:hover b{
    background-position: -24px -144px;
}
.likeTop ul li .tj:hover b{
    background-position: -48px -144px;
}
.likeBg .likeTop ul li .fx:hover b{
    background-position: -72px -144px;
}
.likeTop ul li a:hover{
    background: #f5914e;
    color: #fff;
}
.likeBg .btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 24px;
    height: 24px;
    background: url("../images/play_icon.png") no-repeat;
    background-position: 0 -48px;
}
.likeBg .btn:hover{
    background-position: -24px -48px;
}
.likeTop .sjx{
    display: inline-block;
    width: 7px;
    height: 14px;
    background: url("../images/icon.png") no-repeat;
    background-position: -153px -57px;
}
.likeR .likeList dl dd{
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    background-color: #f5f5f5;
    font-size: 12px;
    color: #aaaaaa;
}
.likeR .likeList dl dd .ddBg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 164px;
    background: rgba(0,0,0,.6);
}
.likeR .likeList dl dd .ddBg p{
    padding: 30px 20px 15px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
}
.likeR .likeList dl dd .ddBg a{
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #999;
}
.likeR .likeList dl dd:hover{
    color: #f5f5f5;
}
.likeR .likeList dl dd:hover .ddBg{
    display: block;
}
.likeR .likeList dl dd .ddBg a:hover{
    background-color: #888;
}
.likeR .likeList .title{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.likeR .likeList .sum{
    font-size: 12px;
    color: #999999;
}
.marL10{
    margin-left: -10px;
}
.likeR .LeftBtn,.likeR .RightBtn{
    position: absolute;
    width: 25px;
    height: 50px;
    background: url("../images/page_icon.png") no-repeat;
}
.likeR .LeftBtn{
    /*z-index: 1;*/
    top: 50px;
    left: -5px;
    background-position: -25px 0;
}
.likeR .RightBtn{
    top: 50px;
    right: -15px;
    background-position: 0 0;
}
.likeR .LeftBtn:hover{
    background-position: -25px -50px;
}
.likeR .RightBtn:hover{
    background-position: 0px -50px;
}
.likeR .likeList .sum b{
    display: inline-block;
    padding-right: 5px;
}
.likeR .likeList .sum b img{
    width: 15px;
    height: 15px;
}
.likeR .likeList .sum i{
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background: url("../images/icons.png") no-repeat;
    background-position: 0 -52px;
    vertical-align: middle;
}
.likeR .likeList .sum span{
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background: url("../images/glory_icon.png") no-repeat;
    background-position: -54px -187px;
    vertical-align: middle;
}
.dxtjList .recommend{
    border-top: 1px solid #ededed;
}
.dxtjList .recommend .recommendList{
    border-bottom: 1px solid #ededed;
    /*padding: 0 10px;*/
    /*height: 28px;*/
    line-height: 28px;
    font-size: 12px;
}
.recommendList .top,.recommendList .hover{
    padding: 0 10px;
}
.recommendList .top .name{
    float: left;
    width: 390px;
}
.recommendList .top .name .singer{
    color: #999999;
}
.recommendList .top .common{
    float: left;
    color: #999999;
}
.recommendList .top .time{
    float: right;
    color: #999999;
}
.recommendList .hover{
    display: none;
    padding: 10px 0;
    background: #f5f5f5;
}
.recommendList .hover .left{
    position: relative;
    float: left;
    width: 390px;
}
.recommendList .hover .left .likeTop{
    top: 0px;
    left: 280px;
}
.recommendList .hover .left dl{
    float: left;
}
.recommendList .hover .left dl dt{
    position: relative;
    float: left;
    padding-right: 10px;
}
.recommendList .hover .left dl dt img{
    width: 55px;
    height: 55px;
}
.recommendList .hover .left dl dt a{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 24px;
    height: 24px;
    background: url("../images/play_icon.png") no-repeat;
    background-position: 0 -48px;

}
.recommendList .hover .left dl dt a:hover{
    background-position: -24px -48px;
}
.recommendList .hover .left dl dd{
    float: left;
}
.recommendList .hover .left dl dd a{
    display: block;
    line-height: 24px;
}
.recommendList .hover .left dl dd .singer{
    color: #999;
}
.recommendList .hover .left dl dd a:hover{
    text-decoration: underline;
}
.recommendList .hover .left .singerPic{
    position: relative;
    /*overflow: hidden;*/
    float: right;
    /*border-radius: 3px;*/
    /*不是继承属性 不能直接影响到子级元素*/
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.recommendList .hover .left .singerPic .pic1{
    border-radius: 3px;
    width: 30px;
    height: 30px;
}
.recommendList .hover .con{
    float: left;
    width: 270px;
    /*display: inline-block;*/
    /*vertical-align: top; 不可以的*/
    line-height: 16px;
}
.recommendList .hover .time{
    float: right;
    color: #999999;
    line-height: 12px;
}
.recommendList:hover .top{
    display: none;
}
.recommendList:hover .hover{
    display: block;
}
.singerPic .hidden{
    position: absolute;
    top: 30px;
    left: -30px;
    width: 345px;
    height: 238px;
}
.singerPic .hidden .btn{
    position: absolute;
    top: 0;
    left: 40px;
    width: 14px;
    height: 14px;
    background: url("../images/name_card_bg.png") no-repeat;
    background-position: -50px -250px;
}
.singerPic .hidden .content{
    position: absolute;
    top: 6px;
    left: 0;
    padding: 6px;
    width: 333px;
    height: 212px;
    background: url("../images/name_card_bg.png") no-repeat;
    background-position: 0 0;
}
.singerPic .hidden .content .borderCon{
    border: 1px solid #c6cacc;
    border-radius: 3px;
    background: #fff;
    height: 210px;
}
.singerPic .hidden .content .borderCon dl{
    padding: 15px 0 0 20px;
    width: 311px;
    height: 65px;
    background: #4ba4ac;
    line-height: 12px;
}
.singerPic .hidden .content .borderCon dd b,.singerPic .hidden .content .borderCon dd i{
    display: inline-block;
    padding-right: 5px;
    width: 16px;
    height: 16px;
    background: url("../images/icon2.png") no-repeat;
    vertical-align: middle;
}
.singerPic .hidden .content .borderCon dd b{
    background-position: -78px -20px;
}
.singerPic .hidden .content .borderCon dd i{
    background-position: -110px -20px;
}
.singerPic .hidden .content .borderCon .play{
    padding-left: 20px;
    height: 46px;
    line-height: 46px;
}
.singerPic .hidden .content .borderCon .play span{
    padding-right: 10px;
    color: #666666;
}
.singerPic .hidden .content .borderCon .play b{
    display: inline-block;
    border-radius: 3px;
    width: 20px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #5c7284;
    color: #fff;
}
.singerPic .hidden .content .borderCon ul{
    margin-left: -1px;
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;
    height: 40px;
    line-height: 40px;
}
.singerPic .hidden .content .borderCon ul li{
    float: left;
    border-left: 1px solid #ebebeb;
    width: 110px;
    text-align: center;
}
.singerPic .hidden .content .borderCon ul li span{
    padding-left: 5px;
    color: #f60;
}
.singerPic .hidden .content .borderCon ul .borNone{
    width: 109px;
    border: none;
}
